{% extends 'main.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block js %}
<script src="{% static 'js/acrobot.js' %}" defer></script>
{% endblock %}

{% block title %}
Página Inicial
{% endblock %}

{% block content %}
<div class="row gap-3 my-3">
    <div class="col-2 bg-light border rounded p-3">
        <button type="button" onclick="addFilter('pessoa')">
            <i class="bi bi-person-standing"></i>
            Pessoa
        </button>
        <button type="button" onclick="addFilter('veiculo')">
            <i class="bi bi-car-front-fill"></i>
            Veiculo
        </button>
        <button type="button" onclick="addFilter('localidade')">
            <i class="bi bi-geo-alt-fill"></i>
            Localidade
        </button>
    </div>
    <div class="col bg-light border rounded" id="filtros">
        <button type="button" onclick="enviarJSON()">Pesquisar</button>
        {% csrf_token %}
        <div class="boletim">
            <label for="data-fato">DATA FATO:</label>
            <input type="text" id="data-fato">
            <br>
            <label for="data-registro">DATA REGISTRO:</label>
            <input type="text" id="data-registro">
            <br>
            <label for="registro">REGISTRO:</label>
            <input type="text" id="registro">
            <br>
            <label for="relato">RELATO:</label>
            <input type="text" id="relato">
        </div>
        <div id="lista-pessoa"></div>
        <div id="lista-veiculo"></div>
        <div id="lista-localidade"></div>
        <div id="resultado"></div>
    </div>
</div>
{% endblock %}