{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    <title>ACROBOT | {% block title %}{% endblock %}</title>
</head>
<body>
    <header></header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>